body {
    font-family: Tahoma, Arial, sans-serif;
    line-height: 1.6;
    margin: 50px;
    padding: 0;
    background-color: #f3f4f6;
  }
  
  
header, footer {
    background: #1f78b4;
    color: white;
    padding: 20px 10px;
    text-align: center;
  }

header h1 {
  color: white;
    padding: 20px 10px;
    text-align: center;
}

nav li a {
    text-decoration: none;
    color: white;
    padding: 5px;
    font-size: 20px;
}
nav li a:hover {
    color: #d1d5db;
}

footer a {
  text-decoration: none;
    color: white;
    padding: 5px;
    font-size: 20px;
}

footer a:hover {
  color: #d1d5db;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
  
main {
    padding: 20px;
  }
  
h1, h2, h3, h4 {
    color: #1f78b4;
  }
h4 { 
  font-size: 29px; 
}

h3 { 
  font-size: 34px; 
}

h2 { 
  font-size: 39px; 
}

h1 { 
  font-size: 44px; 
}

p {
    color: #111122;
    font-size: 20px;
    font-family: Tahoma, Arial, sans-serif;
    padding: 1px;
}

#skills p {font-size: 16px;}

/* Borrowed from: https://www.w3schools.com/howto/howto_css_thumbnail.asp */
.thumb {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 3px;
  margin: 12px;
  width: 175px;
}
.thumb:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

  
pre {
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    overflow-x: auto;
  }

  code {
    font-family: monospace; /* Use a monospace font for code */
    font-size: 16px; /* Adjust font size as needed */
    background-color: #f0f0f0; /* Set a light background color */
    padding: 2px 4px; /* Add some padding for better readability */
    border-radius: 3px; /* Add rounded corners */
  }
  
 
  
button {
    background-color: #cee7f1;
    color: #000;
    border: 2px solid #1f78b4;
    cursor: pointer;
    padding: 5px 9px;
    border-radius: 3px;
}
  
button:hover {
    background: #a6cee3;
}

img {
  width: 30%;
  margin: 15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

aside {
  width: 40%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-family: Tahoma, Arial, sans-serif;
  background-color: #fefce8;
  border: 2px solid #d97706;
  border-radius: 5px;
}

footer {
    background-color: #1f78b4;
    height: 95px;
    padding: 10px;
}
footer p {
    font-size: 20px;
    font-family: Tahoma, Arial, sans-serif;
    color: #fff;
    text-align: center;
}
  